.recipe-list-container {
    background-color: #e7e7e7;
    margin: 10px 0px;
    padding: 10px 10px 30px 10px;
    border: #a5a5a5;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}