.add-recipe {
    color: white;
    font-weight: bold;
    background-color: rgb(87, 126, 231);
    padding: 15px;
    border: rgb(115, 138, 111);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }

    &:active {
      background-color: blue;
    }
}

.common-recipe {
    padding: 10px;
    border: rgb(115, 138, 111);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: fit-content;

    &:hover {
        cursor: pointer;
    }
}

.delete-recipe {
    color: white;
    background-color: rgb(207, 62, 62);
    font-weight: bold;

    &:active {
      background-color: rgb(117, 3, 3);
    }
}

.edit-recipe {
    margin: 0px 10px;
    color: black;

    &:active {
      background-color: rgb(229, 222, 155);
    }
}